| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | dettonville.utils | 2025.3.19 | export_dicts | 2025-06-30T20:01:18Z | False | [test details](./export_dicts/test.results/test-results.md) |
