| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 12 | dettonville.utils | 2025.7.30 | export_dicts | 2025-08-02T01:36:11Z | False | [test details](./export_dicts/test.results/test-results.md) |
