| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | dettonville.utils | * | export_dicts | 2025-07-02T12:54:20Z | False | [test details](./export_dicts/test.results/test-results.md) |
