| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | dettonville.git_inventory | 2025.7.30 | update_inventory | 2025-08-06T15:58:18Z | True | [test details](./update_inventory/test.results/test-results.md) |
