| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 66 | dettonville.git_inventory | 2025.8.1 | update_inventory | 2025-08-14T01:24:25Z | True | [test details](./update_inventory/test.results/test-results.md) |
