| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 66 | dettonville.git_inventory | 2025.9.1 | update_inventory | 2025-12-24T15:49:29Z | False | [test details](./update_inventory/test.results/test-results.md) |
