| test_case_count | test_collection | test_collection_version | test_component | test_date | test_failed | test_details_link |
| --- | --- | --- | --- | --- | --- | --- |
| 66 | dettonville.git_inventory | 2026.8.1 | update_inventory | 2026-10-14T19:35:14Z | False | [test details](./update_inventory/test.results/test-results.md) |
